{% extends "base.html" %}
{% block content %}
<h1>Вход</h1>
{% if message %}<p class="alert alert-danger">{{ message }}</p>{% endif %}
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{ form.email.label }} {{ form.email(class="form-control") }}</p>
    {% for e in form.email.errors %}<span class="text-danger small">{{ e }}</span>{% endfor %}
    <p>{{ form.password.label }} {{ form.password(class="form-control", type="password") }}</p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock %}
